{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link rel="stylesheet" href="../static/assets/css/style.css" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../static/assets/css/contact.css" />
    <link rel="stylesheet" href="../static/assets/css/nav.css" />


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <title>
      SpotStreams | One Stop Destionation for Spotify Data
    </title>
  </head>
  <body >
    <header>
      <a class="logo" href="/"><img src="../static/assets/images/logo.jpg" alt="logo"></a>
            <nav class="nav">
                <ul class="nav__links">
                    {% comment %} <li><a href="#records">Features</a></li> {% endcomment %}
                    <li><a href="/#artists">Artists</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </nav>
            <a class="cta" href="#" target="_blank"><i class='bx bxl-twitter'></i>  Follow Us</a>

            <p class="menu cta">Menu</p>
        </header>
        <div id="mobile__menu" class="overlay">
            <a class="close">&times;</a>
            <div class="overlay__content">
                <ul>
                <li><a href="#records">Artists</a></li>
                <li><a href="#streams">Blog</a></li>
                {% comment %} <li><a href="#billion"></a></li> {% endcomment %}
                </ul>
            </div>
          </div>

    <section>
        <div class="container form-temp">
            <div class="contact-form-wrapper d-flex justify-content-center">
                <form name ='submit-to-google-sheet' action="#" class="contact-form">
                  <h5 class="title">Request Artist</h5>
                  <p class="description">We will be adding few more artists every month with most no. of requests.
                  </p>
                  <div>
                    <input type="name" name="Name" class="form-control rounded border-white mb-3 form-input" id="name" placeholder="Name" required>
                  </div>
                  <div>
                    <input type="message" name="Artist Name" class="form-control rounded border-white mb-3 form-input" placeholder="Artist Name" required>
                  </div>
                  <div class="submit-button-wrapper">
                    <button type="submit"> Submit</button>
                  </div> 
                </form>
              </div>
              <span id="msg"></span>

     </div>
    </section>

    <footer>
      <div class="footer">
        <div>
          <i><img src="./images/logo.svg" alt="" /></i>
          <div class="div">
            <i><img src="../static/assets/images/icon-location.svg" alt="" /></i>
            <p>
              We are not associated with & Spotify AB or any of it's partners in any way. This is just a Hobby project.
            </p>
          </div>
          <div class="div">
            <i><img src="../static/assets/images/icon-email.svg" alt="" /></i>
            <p>spotanalytics1@gmail.com</p>
          </div>
        </div>
        <div class="para">
          <a href="#">About Us</a>
          <a href="#">Donate</a>
        </div>
        <div class="para">
          <a href="/blog">Blog</a>
          <a href="/contact">Contact Us</a>
        </div>
      </div>
    </footer>
    <script>
      const scriptURL = 'https://script.google.com/macros/s/AKfycbzlRvZZgHu11gG52d-LsaE4O5L8p1rT_-3wntYGujFRwyJu0SyktTgS-AAHlykxsMEYLA/exec'
      const form = document.forms['submit-to-google-sheet']
      const mg = document.getElementById("msg")
    
      form.addEventListener('submit', e => {
        e.preventDefault()
        fetch(scriptURL, { method: 'POST', body: new FormData(form)})
          .then(response =>{
            msg.innerHTML = "Request Submitted !!"
            setTimeout(function(){
              msg.innerHTML = ""
            },5000)
            form.reset()
          })
          .catch(error => console.error('Error!', error.message))
      })
    </script>
    <script src="../static/assets/js/mobile.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
  </body>
</html>
