:root {
  --clr-neutral-400: #7a746e;

  --fs-300: 1.4rem;
  --fs-400: 1.6rem;
  --fs-450: 1.8rem;
  --fs-500: 2.4rem;
  --fs-600: 2.6rem;
  --fs-650: 3.2rem;
  --fs-700: 3.6rem;
  --fs-750: 4rem;
  --fs-800: 4.4rem;
  --fs-900: 5.6rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-1100);
  --fs-secondary-heading: var(--fs-800);
  --fs-button: var(--fs-300);
  --fs-card-heading: var(--fs-500);
}




.context h1 {
  /* font-family: 'Sora', sans-serif; */
  font-size: 55px;
  color: black;
  /* font-weight: 600; */
}
.misc{
  font-size: 35px;
  /* font-weight: 400; */
  /* font-family: 'Inter', sans-serif; */
}
.context p {
  font-size: 16px;
  font-weight: 300px;
  /* font-family: 'Inter', sans-serif; */
  color: #a8aab3;
}

#includedContent table{
    color: #303f5e;
    font-size: 1.2em;
    margin-top: 20px;
    /* font-family: 'Sora', sans-serif; */
}
#includedContent table thead{
  cursor: pointer;
  background-image: linear-gradient(-0deg, #210664, #0f051c 60%);
  
  color: white;

}

#includedAlbums {
  background-color: #f9f9f9;
}

#includedContent {
  background-color: #f9f9f9;
}

#includedAlbums table{
  /* background-image: url("jb2.jpg"); */
    margin-top: 20px;
    color: #303f5e;
    font-size: 1.2em;
    /* font-family: 'Sora', sans-serif; */
}

#includedAlbums table thead{
  cursor: pointer;
  background-image: linear-gradient(-0deg, #210664, #0f051c 60%);
  color: white;

}

.second-records p {
    font-size: 18px;
    font-weight: 300px;
    /* font-family: 'Inter', sans-serif; */
    color: #a8aab3;
  }
  
  .second-records-cards .card img {
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .second-records-cards .card-body .card-title {
    font-size: 22px;
    /* font-family: 'Sora', sans-serif; */
    color: #9420b6;
  }
  
  .amy-img {
    margin: 0 auto;
    padding: 0 2.2rem;
    width: 200px;
    margin-bottom: 1.5em;
  }
  
  .amy-headings {
    color: white;
    font-weight: 600;
    text-align: center;
  }
  .amy-headings__title {
    font-size: var(--fs-secondary-heading);
    color: var(--clr-accent-900);
    font-weight: var(--fw-bold);
    line-height: 3.3rem;
  }
  .amy-headings__text {
    font-weight: 500;
    color: var(--clr-neutral-400);
  }
  
  .front-artist{
    background-image: linear-gradient(-0deg, #210664, #0f051c 50%);
    
    /* border: 3px solid green; */
  }

  /* Billion Club Section */
.carousel-inner img{
  border-radius: 30px;
}

#includedContent table img{
  height: 60px;
  width: 60px;
}
  
  @media (min-width: 35em) {
    .amy-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding-block: 5rem;
    }
    .amy-img {
      transform: translateX(-5rem);
      align-self: center;
      padding: 0;
      width: auto;
    }
    .amy-headings {
      text-align: left;
      align-self: center;
    }
    .amy-headings__title {
      line-height: 4rem;
      margin-top: 0;
    }

  }
  
  @media (min-width: 64em) {
    .amy-img {
      transform: none;
      max-width: 445px;
    }
    .amy-section {
      gap: 10rem;
    }
  }

  @media only screen and (max-width: 700px) {
    #includedContent table{
        /* text-align: center; */
        font-size: 0.62em;
    }
  
    .carousel-inner img{
      border-radius: 6px;
    }
    
    #includedAlbums table{
        /* text-align: center; */
        font-size: 0.72em;
    }
  
    .front-main p {
        font-size: 15px;
      }
    
  }