
body {
    background-color: rgb(208, 206, 206) !important;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .contact-form-wrapper {
    padding-top: 100px;
    /* padding-bottom: 20px; */
  }

  .nav__links li a,
  .cta,
  .overlay__content a {
      color: black;
      text-decoration: none;
  }

#msg{
    font-weight: 600;
    margin: 30px 0px;
    color: green;
    text-align: center;
}

.form-temp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
  
  .contact-form {
    padding: 30px 40px;
    background-color: #ffffff;
    border-radius: 12px;
    max-width: 400px;
  }
  
  .contact-form textarea {
    resize: none;
  }
  
  .contact-form .form-input,
  .form-text-area {
    background-color: #f0f4f5;
    height: 40px;
    padding-left: 16px;
  }
  
  .contact-form .form-text-area {
    background-color: #f0f4f5;
    height: auto;
    padding-left: 16px;
  }
  
  .contact-form .form-control::placeholder {
    color: #aeb4b9;
    font-weight: 500;
    opacity: 1;
  }
  
  .contact-form .form-control:-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
  }
  
  .contact-form .form-control::-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
  }
  
  .contact-form .form-control:focus {
    border-color: #9420b6;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #9420b6;
  }
  
  .contact-form .title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
  }
  
  .contact-form .description {
    color: #aeb4b9;
    font-size: 14px;
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper {
    
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper button {
    border: none;
    border-radius: 4px;
    background-color: #9420b6;
    /* background-color: #f23292; */
    color: white;
    text-transform: uppercase;
    padding: 10px 60px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  
  .contact-form .submit-button-wrapper button:hover {
    background-color: #9420b6;
  }
  