* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    /* flex-direction: column; */
    align-items: center;
    padding: 10px 5%;
    /* background-color: rgba(255, 255, 255, 0.763); */
    backdrop-filter: blur(1px);
}

.logo {
    margin-right: auto;

}

.logo img {
    width: 60px;
    border-radius: 50%;
}

.nav__links {
    list-style: none;
    display: flex;
    height: 10px;
}

.nav__links a,
.cta,
.overlay__content a {
    /* font-family: 'Sora', sans-serif; */
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #9420b6;
}

.cta {
    margin: 4px 0px;

    margin-left: 20px;
    padding: 9px 25px;
    /* font-family: 'Inter', sans-serif; */
    background-color: #9420b6;
    color: #edf0f1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    border-radius: 10px;
    font-size: 1.2rem;
}

.cta i {
    font-size: 1.1rem;
}

.cta:hover {
    /* box-shadow: 0px 7px 16px #9420b694; */
    color: black;
    background: white;
}

/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #9420b6;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {

    .nav__links,
    .cta {
        display: none;
    }

    .menu {
        display: initial;
    }
}